<HTML>
  <BODY bgcolor="cyan">
      <div align = center>
        <h2>Upload companies File</h2>
        <form method=post enctype=multipart/form-data>
          <input type=file name=companies>
          <input type=submit value=Upload1>
        </form>
      </div>
      <div align = center>
        <h2>Upload people File</h2>
        <form method=post enctype=multipart/form-data>
          <input type=file name=people>
          <input type=submit value=Upload2>
        </form>
      </div>
  </BODY>
  </HTML>